<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action redirectType="Permanent" type="Redirect" url="http://13.75.94.137:4000/{R:1}"> </action>
        </rule>
        <rule name="RewritePost" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
              <add input="{REQUEST_METHOD}" pattern="^POST$" />
          </conditions>
          <action type="Rewrite" url="http://13.75.94.137:4000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
